@using Microsoft.Extensions.Configuration
@using System.IO
@using Newtonsoft.Json

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virgin Mary Islamic Center - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/homepage.min.css" />


    <script type="text/javascript" async src="https://maps.googleapis.com/maps/api/js?key=@config.GoogleMapsAPIKey&libraries=places"></script>
    
    <environment include="development">
        <script src="~/js/thirdparty.all.js"></script>
        @*<script src="@(Configuration.GetSection("SignalRServer").Value)/hubs"></script>*@


        @{
            foreach (string file in Directory.GetFiles("wwwroot/source-js/angular/app/", "*.js", SearchOption.AllDirectories))
            {
                <script src="@(file.Replace(@"wwwroot/", "").ToString())"></script>
            }
            foreach (string file in Directory.GetFiles("wwwroot/source-js/angular/services/", "*.js", SearchOption.AllDirectories))
            {
                <script src="@(file.Replace(@"wwwroot/", "").ToString())"></script>
            }
            foreach (string file in Directory.GetFiles("wwwroot/source-js/angular/directives/", "*.js", SearchOption.AllDirectories))
            {
                <script src="@(file.Replace(@"wwwroot/", "").ToString())"></script>
            }
            foreach (string file in Directory.GetFiles("wwwroot/source-js/angular/controllers/", "*.js", SearchOption.AllDirectories))
            {
                <script src="@(file.Replace(@"wwwroot/", "").ToString())"></script>
            }

        }
    </environment>

    <environment exclude="development">

        <script src="~/js/thirdparty.all.min.js" asp-append-version="true"></script>
        @*<script src="@(Configuration.GetSection("SignalRServer").Value)/hubs"></script>*@

        <script src="~/js/angularcode.min.js" asp-append-version="true"></script>
    </environment>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body ng-app="app">
    @await Html.PartialAsync("_Topbar")

    <div class="container">
        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
