<div class="white-box info" id="fundraising">
    <h2>@Loc["FUNDRAISING"]</h2>

    <div class="row">
        <div class="col-md-auto col-s-12">
            <img src="https://placehold.it/250x200" />
        </div>
        <div class="col-md">
            <h3>@Loc["Our center needs your help!"]</h3>
            <p>@Loc["Ayat"]</p>

            <div class="row">
                <div class="col">
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar"></div>
                    </div>
                    <div class="row goal">
                        <div class="col-6">
                            <b>@Loc["CURRENTLY: {0} / MONTH", "$120"]</b>
                        </div>
                        <div class="col-6 text-right text-info">
                            <b>@Loc["GOAL: {0} / MONTH", "$5,000"]</b>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <a href="#" class="btn btn-primary">@Loc["PLEDGE NOW"]</a>
                </div>
            </div>
        </div>
    </div>
</div>