@model IndexModel
<div class="white-box orange" id="prayerTimes" ng-controller="prayertimeCtrl" >
    <h2>@Loc["PRAYER TIMES"]</h2>

    <a class="btn btn-secondary d-block" href="#userLocation" data-toggle="modal">
        <i class="fas fa-map-marker-alt"></i>
        {{location.city | titlecase }}, {{location.state | uppercase}}

        <span>@Loc["change"]</span>
    </a>

    <p class="today">@config.Location.Now.ToString("dddd, MMMM d").ToUpper()</p>
    <table class="prayertable table">
		<tbody>
			@*<tr>
			<td>Imsaak</td>
			<td class="text-right">4:44 AM</td>
		</tr>*@
			<tr>
				<td>Fajr</td>
                <td class="text-right">{{prayerTimes.fajr  | date : "h:mm a" | lowercase  }} - {{prayerTimes.sunRise | date : "h:mm a" | lowercase  }}</td>
			</tr>
			<tr>
				<td>Noon / Dhuhr</td>
                <td class="text-right">{{prayerTimes.dhuhr  | date : "h:mm a" | lowercase  }}</td>
			</tr>
			<tr>
				<td>Asr</td>
                <td class="text-right">{{prayerTimes.asr | date : "h:mm a" | lowercase }} - {{prayerTimes.sunset | date : "h:mm a" | lowercase }}</td>
			</tr>
			<tr>
				<td>Maghrib</td>
                <td class="text-right">{{prayerTimes.maghrib | date : "h:mm a" | lowercase }}</td>
			</tr>
			<tr>
				<td>Isha</td>
                <td class="text-right">{{prayerTimes.isha | date : "h:mm a" | lowercase }} - {{prayerTimes.midnight | date : "h:mm a" | lowercase }}</td>
			</tr>
			<tr>
				<td>Salat ul-Layl</td>
                <td class="text-right">{{prayerTimes.salatUlLayl | date : "h:mm a" | lowercase }}</td>
			</tr>
		</tbody>
    </table>

    <div class="row actions">
        <div class="col">
            <a href="#"><i class="far fa-calendar-alt"></i> @Loc["view whole month"]</a>
        </div>
        <div class="col-ml-auto">
            <a href="#"><i class="fas fa-cog"></i> @Loc["settings"]</a>
        </div>
    </div>
</div>